{% load static %}
<!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100 pt-5 pe-5" src="{% static 'img/about-1.jpg' %}" alt="" style="object-fit: cover;">
                        <img class="position-absolute top-0 end-0 bg-white ps-2 pb-2" src="{% static 'img/about-2.jpg' %}" alt="" style="width: 200px; height: 200px;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="h-100">
                        <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">SNAIM Madagascar</div>
                        <h1 class="display-6 mb-5">Notre force, c’est l’unité. Notre mission, c’est la justice.</h1>
                        <div class="bg-light border-bottom border-5 border-primary rounded p-4 mb-4">
                            <p class="text-dark mb-2">Ce n’est pas qu’un slogan. C’est notre cap. Notre engagement. Notre responsabilité envers nous-mêmes, et envers Madagascar.</p>
                            <span class="text-primary">RANOELISON D. Adrianno, Président</span>
                        </div>
                        <p class="mb-5">Un syndicat uni devient une voix puissante, capable de défendre chaque agent avec dignité, et de réclamer un système fiscal au service de tous.

Notre engagement ne s’arrête pas aux portes de nos bureaux. Il s’étend à la lutte pour une justice fiscale réelle, où chaque citoyen contribue équitablement, et où les agents des impôts sont respectés, protégés, et valorisés.</p>
                        <a class="btn btn-primary py-2 px-3 me-3" href="">
                            En savoir plus...
                            <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                        <a class="btn btn-outline-primary py-2 px-3" href="">
                            Contactez-nous
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
