{% load static %}
<!-- Donate Start -->
    <div class="container-fluid donate my-5 py-5" data-parallax="scroll" data-image-src="{% static 'img/carousel-2.jpg' %}">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Adhérer</div>
                    <h1 class="display-6 text-white mb-5">Pourquoi adhérer ?</h1>
                    <p class="text-white-50 mb-0">Défendre ses droits face à l’administration.</p>
                    <p class="text-white-50 mb-0">Faire entendre sa voix dans les décisions importantes.</p>
                    <p class="text-white-50 mb-0">Renforcer la solidarité entre collègues.</p>
                    <p class="text-white-50 mb-0">Participer activement aux réformes pour une fiscalité juste.</p>
                    <p class="text-white-50 mb-0">Bénéficier d’un accompagnement professionnel et syndical.</p>
                    <p class="text-white-50 mb-0">S’unir pour être plus fort.</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 bg-white p-5">
                        <form>
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control bg-light border-0" id="name" placeholder="Your Name">
                                        <label for="name">Your Name</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="email" class="form-control bg-light border-0" id="email" placeholder="Your Email">
                                        <label for="email">Your Email</label>
                                    </div>
                                </div>                                
                                <div class="col-12">
                                    <button class="btn btn-primary px-5" style="height: 60px;">
                                        Adhésion
                                        <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                            <i class="fa fa-arrow-right"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Donate End -->
