 {% load static %}
 <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Nos Actions</div>
                <h1 class="display-6 mb-5">Apprenez-en Davantage sur ce que Nous Faisons et Impliquez-vous</h1>
            </div>
            <div class="row g-4 justify-content-center">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-1.png' %}" alt="">
                        <h4 class="mb-3">Représentation Auprès des Autorités</h4>
                        <p class="mb-4">Être l’interlocuteur légitime et actif auprès des autorités administratives, politiques et financières pour faire entendre la voix des agents, formuler des propositions et défendre leurs revendications.</p>
                        <a class="btn btn-outline-primary px-3" href="">
                            En savoir plus...
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-2.png' %}" alt="">
                        <h4 class="mb-3">Lutte contre l’injustice, les abus et la corruption</h4>
                        <p class="mb-4">Veiller à ce que les pratiques administratives soient conformes à l’éthique et combattre toute forme de pression, de favoritisme ou de corruption qui nuit à la fonction fiscale et à ses agents.</p>
                        <a class="btn btn-outline-primary px-3" href="">
                            En savoir plus...
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-3.png' %}" alt="">
                        <h4 class="mb-3">Contribution au développement national</h4>
                        <p class="mb-4">Agir en acteur responsable du développement durable de Madagascar en promouvant une gestion saine des ressources fiscales et en soutenant les réformes utiles à l’intérêt général.

</p>
                        <a class="btn btn-outline-primary px-3" href="">
                            En savoir plus...
                            <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                                <i class="fa fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->