{% load static %}
<!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Témoignages</div>
                <h1 class="display-6 mb-5">Des Milliers d'Agents Mettent Leurs Espoirs en Notre Mission</h1>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="{% static 'img/testimonial-1.jpg' %}" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Cela apporte beaucoup de choses, je sais mieux m'exprimer, rédiger, etc. Au travail, c'est compliqué parce que c'est beaucoup d'implication, beaucoup de déplacements. Mais c'est important et cela m'a beaucoup apporté au niveau personnel.</p>
                        <h5 class="mb-1">RAHARIMALALA Nadia Soafaoui</h5>
                        <span class="fst-italic">Sécrétaire</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="{% static 'img/testimonial-2.jpg' %}" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Quel rôle y avez-vous joué? Avez-vous pris des responsabilités? Avez-vous été défendus par votre syndicat? En avez-vous fait autant pour un collègue?</p>
                        <h5 class="mb-1">ANDRIANJAFINERA André Fabrice</h5>
                        <span class="fst-italic">Conseiller</span>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="{% static 'img/testimonial-3.jpg' %}" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Je pense qu'on a besoin des jeunes dans les syndicats.</p>
                        <h5 class="mb-1">RANDRIANOMENJANHARY Théodore</h5>
                        <span class="fst-italic">Trésorier</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->